/* Reset genercale */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Sfondo sito */
body{
  background: gray;
}

/* Header */
header{
  background: black;
  max-width: 100%;
  height: 80px;
}
.titolo{
  color: red;
  font-size: 32px;
  padding: 20px 20px 0px 10px;
  width: 50%;
  float: left;
}
div.ricerca{
  display: flex;
  float: right;
  width: 33%;
  height: 45px;
  padding: 5px;
  align-items: center;
  float: right;
  margin: 20px;
}

.ricerca input{
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  border: 1px solid lightgray;
  border-left: none;
  font-size: 14px;
}

.ricerca input:focus{
  border: 3px solid red;
  border-radius: 3px;
}

.ricerca i{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 100%;
  min-width: 50px;
  text-align: center;
  border: 1px solid lightgray;
  border-right: none;
  background: white;
}
button.ricerca{
  height: 105%;
  width: 90px;
}
.risultatoRicerca{
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  width: 100%;
}
/* Blocco film/serie */
.bloccoFilm{
  background: lightcyan;
  border: 1px solid black;
  margin: 10px 18px;
  flex-basis: 30%;
  height: 421px;
}
.bloccoFilm:hover{
  box-shadow: 0px 0px 10px 6px white;
}

/* Immagine copertina */
img.copertina{
  min-height: 420px;
  min-width: 378px;
  max-width: 378px;
  max-height: 420px;
}

/* Bandiera lingua */
img.bandiera{
  width: 20px;
}

/* Stelle */
p i.fas,
p i.far{
  color: orange;
}

/* Info film/serie */
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 22px;
  min-width: 298px;
  height: 100%;
  background: black;
  color: white;
}
p.info{
  margin: 5px 0px;
  padding: 0px;
  font-size: 13px;
}

/* Display visibile e nascosto */
.nascosto{
  display: none;
}
.visibile{
  display: block;
}

/* Messaggio errore */
.errore{
  
  background: red;
  /*! width: 300px; */
  margin: 20px;
  padding: 40px;
  margin: 50px auto;
  width: 400px;
  font-size: 25px;
}
